html {
    width: 100vw;
    height: 100vh;
    font-size: 16pz;
    overflow: hidden;
}
body {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*overflow: hidden;*/ /* Evita barras de rolagem ao escalar o conteúdo */
    /*transform-origin: center;*/ /* Mantém o centro como ponto de escala para centralização */
}

/* Manter tamanho fixo do elemento e escalar para telas menores */
.pokedex {
    height: 70vh; /* Adaptado para viewport */
    width: 55vw; /* Largura proporcional à viewport */
    max-width: 500px; /* Limite de tamanho máximo */
    max-height: 350px; /* Limite de altura máxima */
    min-width: 500px; /* Limite de tamanho mínimo */
    min-height: 350px; /* Limite de altura mínima */
    display: flex;
    position: relative;
    z-index: 1; /* Garante que a Pokédex fique acima de outros elementos */
}
@media (max-width: 768px) { main { transform: scale(0.8); } } /* Ajuste para tablets e pequenos laptops */
@media (max-width: 480px) { main { transform: scale(0.7); } } /* Encaixe perfeito para smartphones */
@media (max-width: 360px) { main { transform: scale(0.6); } } /* Adaptado para smartphones compactos */
@media (max-width: 320px) { main { transform: scale(0.5); } } /* Para os menores dispositivos móveis */
@media (max-width: 260px) { main { transform: scale(0.4); } } /* Visualização ideal para smartwatches grandes */
@media (max-width: 210px) { main { transform: scale(0.3); } } /* Compacto para smartwatches médios */
@media (max-width: 160px) { main { transform: scale(0.2); } } /* Visualização mínima para smartwatches pequenos */
@media (max-width: 110px) { main { transform: scale(0.1); } } /* Último ajuste possível para telas ultra compactas */


    .ladoEsquerdo {
    width: 225px;
    height: 350px;
    background-color: red;
    position: absolute;
    top: 0;
    z-index: 2;
    border-radius: 0 0 0 15px;
}
.ladoDireito {
    width: 250px;
    height: 350px;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    border-radius: 0 2px 15px;
}

.forma_a {
    height: 0;
    width: 200px;
    border-bottom: 50px solid rgba(139, 0, 0, 0.7);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;           
    position: absolute;
    top: -50px;
    left: 77%;
    margin-left: -50%;
    z-index: 3;
}
.forma_a::before {
    content: "";
    height: 0;
    width: 99px;
    border-bottom: 50px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;           
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -49%;
    margin-top: 1%;
}
.forma_a::after {
    content: "";
    height: 70px;
    width: 135px; 
    border-bottom: 1px solid rgba(139, 0, 0, 0.7);       
    position: absolute;
    top: -20px;
    left: -185px;
}

.forma_b {
    height: 75px;
    width: 250px; 
    background-color: red;
    border-radius: 15px 2px 0 0;
    border: 1px solid rgba(139, 0, 0, 0.7); 
    position: absolute;
    top: -70px;
    left: 0;
}


.lombada {
    width: 25px;
    height: 400px;
    position: absolute;
    z-index: 4;
    top: -50px;
    left: 95%;
    margin-left: -50%;
    background-color: red;
    border: 1px groove rgba(139, 0, 0, 0.5);
    box-shadow: -5px 0px 15px rgba(139, 0, 0, 0.1),  5px 0px 15px rgba(139, 0, 0, 0.1); 
}

.ladoDireito, .ladoEsquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.ldEsqTopo, .ldDirBase {
    width: 200px;
    height: 190px;
    border: 1px solid black;
    z-index: 100;
}

.ldDirTopo, .ldEsqBase {
    width: 200px;
    height: 120px;
    border: 1px solid black;
}
.ldEsqTopo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.moldura {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 100%, 0 170px);
    position: relative;
}
.molduraTopo {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.molduraBase {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.visorPokemon {
    width: 160px;
    height: 150px;
    background-color: darkgray;
    border-radius: 5px;
}
.ledA, .ledB  {
    width: 7px;
    height: 7px;
    background-color: red;
    border: 1px groove orangered;
    border-radius: 15px;
    margin-right: 10px;
}
.ledC  {
    width: 10px;
    height: 10px;
    background-color: red;
    border: 1px groove orangered;
    border-radius: 15px;
    margin-left: 20px;
}
.saidaSom {
    width: 25px;
    height: 15px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.line {
    width: 100%; 
    height: 2px; 
    border-radius: 2px; 
    background-color: rgba(0,0,0,0.8);
}
.ldEsqBase {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.ldEsqBase_divEsq {
    height: 100%;
    width: 35px;
    display: flex;
    justify-content: center;
} 
.ldEsqBase_divDir {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ldEsqBase_divCen {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
.ldEsqBase_divCen_divTopo {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ldEsqBase_divCen_divBase {
    width: 100%;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: start;
}
.btCirculoPreto {
    margin-top: 30px;
    width: 25px;
    height: 25px;
    background-color:rgb(37, 43, 43);
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
}

#direcional {
    position: relative;
    width: 55px;
    height: 55px;
  }
  
  #direcional div {
    position: absolute;
    background-color: #333;
  }
  
  .dirUp {
    width: 17px;
    height: 22px;
    top: -1px;        
    left: 19px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  
  .dirDown {
    width: 17px;
    height: 22px;
    bottom: -1px;     
    left: 19px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .dirLeft {
    width: 22px;
    height: 17px;
    top: 19px;
    left: -1px;        
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .dirRight {
    width: 22px;
    height: 17px;
    top: 19px;
    right: -1px;       
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .dirCenter {
    width: 17px;
    height: 17px;
    top: 19px;
    left: 19px;
    background-color: #666;
  }
  .btCancelar {
    background-color: darkred;
    width: 35px;
    height: 7px;
    border-radius: 5px

  }
  .btEnviar {
    background-color: darkblue;
    width: 35px;
    height: 7px;
    border-radius: 5px
  }
  .visorTreinador {
    width: 90px;
    height: 70px;
    background-color: aquamarine;
    border-radius: 5px;
  }

  